default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\ClassesContext
                - App\Tests\Behat\RatingPopupContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
           bootstrap: tests/bootstrap.php
